 


<ng-container *ngIf="  !control.formAction?.css?.hide"  >
   
                     <mat-form-field  class="w-100">
                        <mat-label class="form-label"   [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}</mat-label>  
                        <input  matInput type="number"  
                                [style.color]="control.formAction?.css?.font?.color ? control.formAction?.css?.font?.color :'black'"  
                                [formControl]="control.formAction?.formControl"
                                [class.disabled]="control.formAction.formControl.disabled"
                                [placeholder]="control.formAction.placeholder||''">
                        
                                <mat-error *ngFor="let error of getErrorFormControl( control.formAction?.formControl )">{{error}} </mat-error>
                 </mat-form-field>
             
 </ng-container>