


<ng-container *ngIf="  !control.formAction?.css?.hide"  >

                     <mat-form-field class="w-100 customMY" >
                      <mat-label class="form-label"   [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}
                        <mat-icon *ngIf="control.formAction?.info" [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-2" style="font-size:large" >info_outline</mat-icon>
                      </mat-label>
                        <input  #inp [matTooltip]="control.formAction?.tipContent || null"
                                [style.color]="control.formAction?.css?.font?.color ? control.formAction?.css?.font?.color :'black'" type="number"
                                matInput
                                [formControl]="control.formAction?.formControl"
                                [class.disabled]="control.formAction.formControl.disabled"
                                [placeholder]="control.formAction.placeholder||''" >
                                <mat-error *ngFor="let error of getErrorFormControl( control.formAction?.formControl )">{{error}} </mat-error>
                                <button *ngIf="control.formAction?.resetButton"  matSuffix mat-icon-button aria-label="Clear" (click)="$event.stopPropagation();control.formAction.formControl.reset()" >
                                  <mat-icon>close</mat-icon>
                                </button>
                        </mat-form-field>

</ng-container>
