<!-- @format -->

@if (!control.formAction?.css?.hide) {
   <ng-container>
      <div class="d-flex w-100">
         <mat-form-field class="w-100 customMY">
            <mat-label class="form-label" [class.disabled]="control.formAction.formControl.disabled">
               {{ control.formAction.title }}

               @if (control.formAction?.info) {
                  <mat-icon
                     [matTooltip]="control.formAction?.info.msg"
                     [style.color]="control.formAction?.info.color"
                     class="mx-1">
                     info_outline
                  </mat-icon>
               }
            </mat-label>

            <input
               matInput
               type="number"
               [formControl]="$any(control.formAction?.formControl)"
               [class.disabled]="control.formAction.formControl.disabled"
               [placeholder]="control.formAction.placeholder || ''"
               [min]="control.formAction?.optionNumber?.min"
               [max]="control.formAction?.optionNumber?.max"
               [step]="control.formAction?.optionNumber?.step || 0.01"
               [matTooltip]="control.formAction?.tipContent || null"
               (focus)="emitFocus()"
               (blur)="emitBlur()" />

            @if (control.formAction?.currency) {
               <span matSuffix class="me-2">
                  {{ control.formAction.currency }}
               </span>
            }

            @if (control.formAction?.resetButton && control.formAction.formControl.value != null) {
               <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  type="button"
                  (click)="$event.stopPropagation(); control.formAction.formControl.reset()">
                  <mat-icon>close</mat-icon>
               </button>
            }
         </mat-form-field>

         <div #dynamicContainer class=""></div>
      </div>

      @for (error of getErrorFormControl($any(control.formAction?.formControl)); track error) {
         <mat-error>{{ error }}</mat-error>
      }

      <mat-hint *ngIf="control?.formAction?.hint" [attr.align]="'start'">
         {{ control?.formAction?.hint }}
      </mat-hint>
   </ng-container>
}