


<ng-container *ngIf="  !control.formAction?.css?.hide ">
  <div class="  d-flex w-100 ">
     
      <mat-form-field  class="w-100 customMY" >
            <mat-label class="form-label"   [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}
              <mat-icon *ngIf="control.formAction?.info" [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-2" style="font-size:large" >info_outline</mat-icon>
            </mat-label>

            <input      [type]="control.formAction?.optionInputText?.password ? 'password':'text'"  #inputs [matTooltip]="control.formAction?.tipContent || null"
                        [style.color]="control.formAction?.css?.font?.color ? control.formAction?.css?.font?.color :'black'"
                        matInput
                        [formControl]="control.formAction?.formControl"
                        [class.disabled]="control.formAction.formControl.disabled"
                        [placeholder]="control.formAction.placeholder||''"
                        [maxlength]="control.formAction?.optionInputText?.maxlength"
                        
             >
            <button  matSuffix mat-icon-button aria-label="Clear" speech [e]="inputs"  *ngIf="control.formAction?.optionInputText?.password!=='password' && !control.formAction.formControl.disabled  && !control?.formAction?.disableSpeech" >
              <mat-icon >mic</mat-icon>
            </button>

             <mat-error *ngFor="let error of getErrorFormControl( control.formAction?.formControl )">{{error}} </mat-error>
             <mat-hint *ngIf="control.formAction?.optionInputText?.maxlength" [attr.align]="'start'">{{inputs.value.length}}/{{control.formAction?.optionInputText?.maxlength}}</mat-hint>
             <button *ngIf="control.formAction?.resetButton"  matSuffix mat-icon-button aria-label="Clear" (click)="$event.stopPropagation();control.formAction.formControl.reset()" >
                <mat-icon>close</mat-icon>
            </button>
           
      </mat-form-field>
    
 
      <div #dynamicContainer class ="px-1"></div>
     
    </div>

 </ng-container>

