<ng-container *ngIf=" !control.formAction.css?.hide">

          <mat-form-field class="w-100 customMY" >
            <mat-label class="form-label" [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}
              <mat-icon *ngIf="control.formAction?.info" [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-2" style="font-size:large" >info_outline</mat-icon>
            </mat-label>
            <mat-select

                          [formControl]="this.control.formAction.formControl"
                          [multiple]="control.formAction.multiple"
                          (opened)="onOpened()"
                          (closed)=" clearInput();"
                          (click)="clearInput()"
            >

            <mat-select-trigger>
              <span class="example-additional-selection"> {{getValueCombo(control.formAction.formControl,true)}} </span>
            </mat-select-trigger>


                  <div class="search-container border-bottom"  *ngIf="control.formAction.autocomplete">
                    <span class="search-icon">
                      <mat-icon class="m-auto" >search</mat-icon>
                   </span>
                    <input   matInput  class="mat-mdc-option ps-5"
                            [matTooltip]="control.formAction?.tipContent || null"
                            #filterInput
                            (input)="search(filterInput.value)"
                            [style.color]="control.formAction?.css?.font?.color ? control.formAction?.css?.font?.color :'black'"
                            [placeholder]="control.formAction.placeholder" />
                  </div>


              <mat-option *ngFor="let option of filteredOptions | async"
                            (click)="toggleOption(option, $event)"
                           [value]="option.id"
                           [disabled]="option.disabled"
                           [class.d-none]="option.hide"
                           [style.color]="control.formAction.css?.font?.color ? control.formAction.css?.font?.color :'black'" >
                           {{ option.description }}
              </mat-option>

            </mat-select>
            <button *ngIf="control.formAction?.resetButton"  matSuffix mat-icon-button aria-label="Clear" (click)="$event.stopPropagation();control.formAction.formControl.reset()" >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngFor="let error of getErrorFormControl( control.formAction?.formControl )">{{error}} </mat-error>
          </mat-form-field>


 


</ng-container>
