@if (!control.formAction.css?.hide) {
<ng-container>
  <div class="  d-flex w-100 ">
    <mat-form-field class="w-100 customMY ">


      <mat-label class="form-label" [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}
        @if (control.formAction?.info) {
        <mat-icon [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-2" style="font-size:large">info_outline</mat-icon>
        }
      </mat-label>
      <mat-select class="py-0 my-0" #selectRef [formControl]="this.control.formAction.formControl" [multiple]="control.formAction.multiple" (opened)="onPanelOpen()" (closed)=" clearInput();onPanelClose()">

        <mat-select-trigger>
          <span class="example-additional-selection"> {{getValueCombo(control.formAction.formControl,true)}}</span>
        </mat-select-trigger>


       
          <div class="search-container border-bottom  my-auto py-0" [fixSearchBox]="true" [appStickyOffset]="'-7px'">
            @if(control.formAction.autocomplete  ){
              <span class="search-icon my-auto">
                <mat-icon class="m-auto">search</mat-icon>
              </span>
              <input matInput class="mat-mdc-option ps-5  py-0" [matTooltip]="control.formAction?.tipContent || null" #filterInput (input)="onInputChange(filterInput.value)" [style.color]="control.formAction?.css?.font?.color ? control.formAction?.css?.font?.color :'black'" [placeholder]="control.formAction.placeholder" />
             }
             @if(signalStore.getIsLoading()){
                <div class="loading-bar-container">
                  <div class="loading-bar"></div>
                </div>
              }
          </div>
    

        @for (option of signalStore.getFilterOption() ; track option.id) {
           <mat-option (click)="toggleOption(option, $event)" [value]="option.id" [disabled]="option.disabled" [class.d-none]="option.hide" [style.color]="control.formAction.css?.font?.color ? control.formAction.css?.font?.color :'black'">
            {{ option.description }}
          </mat-option>
        }

        @if(showOptionDefault){
         <mat-option   class="d-none"> </mat-option>
        }

 
      </mat-select>

      @if(control.formAction?.resetButton){
      <button matSuffix mat-icon-button aria-label="Clear" (click)="$event.stopPropagation();control.formAction.formControl.reset()">
        <mat-icon>close</mat-icon>
      </button>
      }


    </mat-form-field>

    <div #dynamicContainer class="px-1"></div>

  </div>

  @for (error of getErrorFormControl( control.formAction?.formControl ); track $index) {
  <mat-error>{{error}} </mat-error>
  }



</ng-container>
}
