/** @format */

// ::ng-deep.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
//   color: rgb(var(--error-color)) !important;
// }

:host:not(.filters) {
   padding: 0rem 0.2rem 0rem 0.2rem !important; /* 0px to rem */
   margin: 0.2rem 0rem 0.2rem 0rem !important; /* 0px to rem */
}

mat-error {
   font-size: 13px !important;
   //  margin-top: 5px !important;
   padding-left: 10px !important;
}

.separator {
   width: 100%; /* Larghezza della riga */
   height: 1px; /* Spessore della riga */
   background-color: #f5f5f5; /* Colore della riga */
   margin: 20px 0; /* Spazio sopra e sotto */
}

@media (min-width: 1400px) {
   .svgSort {
      width: 3.5rem !important;
   }
}

.svgSort {
   width: 2.5rem !important;
}

.scroll-down-indicator {
   min-height: 150px;
   height: 150px;
   opacity: 0.2; /* Più visibile */
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
   position: relative;
   overflow: hidden;
}
.scroll-top-indicator {
   min-height: 150px;
   height: 150px;
   opacity: 0.2; /* Più visibile */
   background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
   position: relative;
   overflow: hidden;
}

::ng-deep span.mdc-list-item__primary-text {
   font-size: 13px !important;
   width: 100%;
}

.loading-bar-container {
   position: relative;
   width: 100%; /* Puoi modificare la larghezza */
   height: 4px; /* Altezza della barra */
   background-color: #e0e0e0; /* Colore dello sfondo */
   overflow: hidden;
}

/* Barra di caricamento */
.loading-bar {
   position: absolute;
   width: 30%; /* Larghezza del segmento visibile */
   height: 100%;
   background-color: rgb(64, 64, 64); /* Colore della barra di caricamento */
   border-radius: 1px; /* Smussatura degli angoli */
   animation: move-infinity 0.5s linear infinite;
}

.bgTag {
   width: 100%;
   height: 30px;
   fill: black; /* Colore di default */
}

.bgText {
   font-size: 10px;
   font-family: Arial, sans-serif;
   fill: white;
   text-anchor: middle;
   dominant-baseline: middle;
}

/* Animazione per il movimento infinito */
@keyframes move-infinity {
   0% {
      transform: translateX(-100%);
   }
   50% {
      transform: translateX(50%);
   }
   100% {
      transform: translateX(100%);
   }
}

.example-chip-list {
   width: 100%;
}

::ng-deep.jp-year-picker,
::ng-deep.jp-month-picker {
   .mat-calendar-period-button {
      pointer-events: none;
   }
   .mat-calendar-arrow {
      display: none;
   }
   .mat-calendar-controls {
      display: none;
   }
   height: auto !important;
}

// .scaled{
//   scale : 0.8
// }
.custom-reset {
   font-weight: 600;
}

mat-hint {
   font-size: 13px !important;
   //  margin-top: 5px !important;
   padding-left: 10px !important;
}

::ng-deep.mat-date-range-input-wrapper {
   width: 75px !important;
}

.iconsMic:hover {
   color: orange;
   cursor: pointer;
}

::ng-deep.mat-date-range-input-separator {
   margin: 0 8px 0 4px !important;
}
