<ng-container *ngIf=" !control.formAction?.css?.hide">
  <div class="w-100 customMY">
    <mat-label class="form-label"   [class.disabled]="control.formAction.formControl.disabled">{{control.formAction.title}}
      @if (control.formAction?.info) {
        <mat-icon [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-2" style="font-size:large">info_outline</mat-icon>
      }   
     </mat-label>
    <nav class="nav" >
      <a class ="mx-1" [matTooltip]="control.formAction?.tipContent || null" *ngFor="let link of control.formAction.options"  > {{link.description }} </a>
    </nav>

  </div>
</ng-container>
