<!-- @format -->

@if (!control.formAction?.css?.hide) {
   <ng-container>
      <div class="d-flex w-100">
         <div class="row customMY w-100">
            <mat-label class="form-label" [class.disabled]="control.formAction.formControl.disabled"
               >{{ control.formAction.title }}
               @if (control.formAction?.info) {
                  <mat-icon [matTooltip]="control.formAction?.info.msg" [style.color]="control.formAction?.info.color" class="mx-1">info_outline</mat-icon>
               }
            </mat-label>

            <mat-radio-group [formControl]="control.formAction?.formControl" class="row" [matTooltip]="control.formAction?.tipContent || null">
               @for (secondElement of getOptions(); track $index) {
                  <mat-radio-button [value]="secondElement.id" [class]="control?.formAction?.css?.classRadio" [disabled]="secondElement.disabled">
                     @if (secondElement.img) {
                        <img [src]="secondElement.img" />
                     }
                     {{ secondElement.description }}
                  </mat-radio-button>
               }

               @if (control.formAction?.resetButton && control.formAction.formControl.value != null) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="$event.stopPropagation(); control.formAction.formControl.reset()">
                     <mat-icon>close</mat-icon>
                  </button>
               }
            </mat-radio-group>
         </div>
         <div #dynamicContainer class=""></div>
      </div>
   </ng-container>
}
